
<div class="jumbotron">
  <h1 class="display-4">
    <%= @movie.name %>
   
  </h1>
  <p class="lead">
    
    <%= @movie.genre %>  |  
    <%= @movie.available %> |
    <%= @movie.price %>  
  </p>
  <br/>

  <%= link_to 'Edit', edit_movie_path(@movie), class:"btn btn-secondary" %>
<%= link_to 'Delete', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
   
<%= link_to 'Back', movies_path, class:"btn btn-dark" %>

</div>